@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
*{
  font-family: "Euclid Circular A", "Poppins";
}
body {
  margin: 0px;
  padding: 0px;
  background: #ff0000;
  background: -webkit-linear-gradient(to right,
      #020024,
      #790914);
  background: linear-gradient(to right,
      #020024,
      #790914);

}

.ashu2 {
  display: flex;
  background-color: rgb(11, 2, 2);
  height: 550px;
  width: 1000px;
  margin-left: 200px;
  margin-top: 44px;
  box-shadow: 10px 10px 10px rgb(76, 15, 15);
  border-radius: 15px;
}

.ashu3 {
  height: 550px;
  width: 550px;
}

.ashu4 {
  height: 550px;
  width: 500px;
  border-radius: 15px;
}

.ashu5 {
  padding-left: 85px;
  margin-top: 30px;
}

.ashu6 {
  height: 30px;
  width: 250px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgb(76, 78, 92);
}

.ashu7 {
  height: 35px;
  width: 260px;
  border-radius: 5px;
}

.ashu8 {
  text-decoration: none;
  color: red;
}
