@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-family: "Euclid Circular A", "Poppins";
    text-align: center;
    background: #ff0000;

    background: -webkit-linear-gradient(to right,
        #020024,
        #790914);

    background: linear-gradient(to right,
        #020024,
        #790914);
  }
  
  header {
    background: #ff0000;

  background: -webkit-linear-gradient(to right,
      #020024,
      #790914);
  background: linear-gradient(to right,
      #020024,
      #790914);
    color: #fff;
    padding: 10px;
  }
  #searchInput{
    margin-left: 300px;
  }
  #searchInput,#genreFilter,#yearFilter,#myclickbtn{
    font-size: 24px;
    border-radius: 12px;
    padding: 10px;
    
  }
  .filters {
    display: flex;
    align-items: center;
  }
  
  .filters input,
  .filters select {
    margin-right: 10px;
  }
  /* list */
  /* .main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
  } */
  #movieList{
    display: grid;
    width: 100%;
    grid-template-columns: auto auto auto auto;

  }
  
  .card {
    width: auto;
    background-color: #f4f4f4;
    margin: 9px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    transition:filter 0.5s ease-in-out
  }
  
  .card h2 {
    margin-bottom: 5px;
  }
  .card:hover{
    /* filter : blur(5px); */
  }
  .card p {
    margin: 5px 0;
  }
  .card-content {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.card:hover .card-content {
    opacity: 1.0;
    text-shadow: 2px 2px 2px black;
    font-weight: 600;
    color: white;
    /* filter : blur(5px); */
    /* background-blend-mode: color-dodge; */
}